*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.box {
    background-color: yellowgreen;
    height: 200px;
    width: 200px;
    margin: 10px;
    transform: rotate(20deg);
    transition: all 1s linear;
}

.box:hover {
    background-color: black;
    transform: scale(1.1) rotate(3deg);
}

.ball{
    height: 100px;
    width: 100px;
    background-color: violet;
    border-radius: 50%;
    transition: transform 2s linear;
    animation: rebotar 1s infinite alternate linear;
}

@keyframes rebotar {
    0% {
        transform: translateY(0px) scale(1);
        background-color: tomato;
    }
    100% {
        transform: translateY(-200px) scale(2);
        background-color: aqua;

    }
}